/* 
    Site: www.mydreamdiaries.com
    Created on : Jun 10, 2014, 11:18:14 PM
    Author     : Miquelyn Hollingsworth
*/

html{
    background-color: #043a6b; /*blue*/
}

*{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: arial, sans-serif;
    font-size: 108%;
    background-color: #fff; /*white*/
    margin: 3% 15%;
    padding: 1em 3em;
    border: .1em solid #000;
}

h1{
   font-family: georgia, serif;
   font-size: 2em;
   color: #ff1800; /*red*/
   max-width: 100%;
}

h2{
    font-family: georgia, serif;
    font-size: 1.75em;
    max-width: 100%;
}

.about {
    border: .1em solid #000;
    margin: 3em 0 0 0;
    padding: 1em 2em;
    font-size: 1em;
    width: 100%;
    max-width: 100%;
}

.episodes {
    border: .1em solid #000;
    margin: 3em 0 0 0;
    padding: 0 2em 1em;
    font-size: 1em;
    width: 100%;
    max-width: 100%;
}

/****
ADD CSS FOR ALL PREVIOUS MAIN
****/


img {
    max-width: 100%;
}

.bio {
    border: .1em solid #000;
    margin: 3em 0 0 0;
    padding: .5em 1em 7em 1em;
    display: block;
}

.biotitle {
    margin: 1em 0 0 0;
}

.biophoto {
    max-width: 100%;
    max-height: 100%;
    float: left;
    margin: 1em 2em 1em .75em;
}

audio {
    max-width: 100%;
}

footer {
    clear: both;
    text-align: center;
}

#page_header {
    max-width: 100%;
}

.logo {
    height: 100%;
    width: 100%;
    max-width: 100%;
}


#navbar {
    width: 100%;
    min-width: 75%;
    float: left;
    text-align: center;
    background-color: #ffd300 /*yellow*/;
}

#navbar ul {
    display: inline;
    padding: 0px;
    text-align: center;
}
#navbar  ul li {
    display: block;
    position: relative;
    float: left;
    border:1px solid #ffd300; /*yellow*/
}
#navbar li ul {
    display: none;
}
#navbar  ul li a {
    display: block;
    background: #ffd300; /*yellow*/
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    white-space: nowrap;
    color: #000; /*black*/
}
#navbar  ul li a:hover {
    background: #ffe773; /*light yellow*/
}
#navbar  li:hover ul {
    display: block; 
    position: absolute;
}
#navbar  li:hover li {
    float: none;
}
#navbar  li:hover a {
    background: #ffd300; /*yellow*/
}
#navbar li:hover li a:hover {
    background: #ffe773; /*light yellow*/
}
#navbar  #drop-nav li ul li {
    border-top: 0px;
}


#subMenu {
    text-align: center;
    background-color: #408dd2; /*blue*/
    color: #fff /*white*/
}

/*unvisited link*/
a:link {
    color: #000; /*black*/
}

/*visited link*/
a:visited {
    color: #000 /*black*/
}

/*selected link*/
a:active {
    color: #fff /*white*/
}

#foot {
    text-align: center;
    background-color: #ffd300; /*yellow*/
}



/*Smartphones portrait*/
@media screen and (max-device-width: 320px) and (orientation: portrait) {
    body {
        margin: .5em;
        padding: 1em;
    }
    
    #navbar {
        padding: 0;
    }
      
    .about {
        margin: 7em 0 0 0;
        padding: .5em;
    }
    
    .posts {
        padding: 0 .55em;
    }
    
    
    
    audio {
       margin: 3em 0; 
}

    .audiotext {
       padding: 0 1em 2em 1em;
}
}

/*Smartphone Landscape*/
@media screen and (max-device-width: 480px) and (orientation: landscape){
    body {
        margin: .5em;
        padding: 1em;
    }
    
    .about {
        margin: 5em 0 0 0;
    }
    
    .bio {
        padding: .5em 1em 2em .5em;
    }
    
    audio {
        margin: 1em 0;
    }
    
    .audiotext {
        padding: 0 1em 2em 1em;
    }
}

/*Tablet*/
@media screen and (min-device-width: 321px) and (max-device-width: 768px) and (orientation: portrait) {
    body {
        margin: 2em;
    }
    
    .about {
        margin: 3em 0 0 0;
    }
}
